* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif
}
nav div ul{
    list-style: none;
    display:flex;
    gap:20px;
}
.navbar {
    text-align: left;
    background-color:#A4B3B6;
    padding:10px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    text-shadow: #45328A;
}
a {
    text-decoration:none;
}
nav a:hover{
    color:#d83f87;
    transition: 0.3s;
    font-size: 18px;;
    text-decoration: underline;
}
#about {
    background-image: URL("Resume.png");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background-color: #45328A;
    color:#A4B3B6;
}
h1 {
    color:#A4B3B6;
    font-size:64px;
    text-align: left;
    margin-right: 50px;
    padding-left: 120px;
}
p {
    text-align: left;
    margin-right: 50px;
    padding-left: 120px;
    font-size: 25px;
}
.box {
    border:#A4B3B6;
    border-radius: 5px;
    border-style: solid;
    display:inline-flex;
    height:300px;
    width:300px;
    padding: 30px;
    margin:150px;
}
div img {
    height: 230px;
    width: 230px;
}
img:hover {
    height: 250px;
    width: 250px;
}
h1:hover {
    color: #d83f87;
    text-decoration:underline;
}
#image1 {
      padding-left: 120px;
      height: 400px;
}
#preloader {
    background: rgb(49, 0, 114) url(portfolio_loader.svg) no-repeat center;
    background-size:100%;
    height:100%;
    width:100%;
    position:fixed;
    z-index:100;
}